## Turtle Graphics

In [1]:
# Design Spiral Star
import turtle as t
a1=t.Turtle()
a1.pencolor('blue')
for i in range(40):
    a1.forward(i*10)
    a1.left(144)
t.done()

In [3]:
#Design Spiral Square
from turtle import *
a1=t.Turtle()
a1.pencolor('red')
for i in range(100):
    a1.forward(i*5)
    a1.left(91)
a1.done()

TclError: invalid command name ".!canvas"

In [ ]:
# Design Hexagon
from turtle import *
pencolor('blue')
colors=['blue','green','red','black','orange','purple']
for i in range(360):
    pencolor(colors[i%6])
    width(i/100+1)
    forward(i)
    left(59)

In [1]:
# Design Circle
from turtle import *
pensize(5)
pencolor('orange')
fillcolor('purple')
begin_fill()
circle(100)
end_fill()

In [ ]:
#Design multiple circles
from turtle import *
pensize(2)
pencolor('blue')
for i in range(15):
    circle(i*10)

In [ ]:
#Design spiral circle
from turtle import *
pensize(3)
pencolor('purple')
for i in range(100):
    circle(10+i,45)

In [ ]:
# Design Concentric circles
from turtle import *
pensize(3)
colors=['pink','purple']
for i in range(20):
    pencolor(colors[i%2])
    circle(10*i)
    up()
    sety((10*i)*(-1))
    down()

In [4]:
#Design Olympics Logo
from turtle import *
pensize(4)
c1=['blue','black','red']
for i in range(3):
    penup()
    pencolor(c1[i%3])
    goto(i*100,0)
    pendown()
    circle(50)
c2=[' ','yellow',' ','green']
for i in range(1,4,2):
    penup()
    pencolor(c2[i])
    goto(i*55,-55)
    pendown()
    circle(50)

Terminator:

In [ ]:
#Design Audi logo
from turtle import *
pensize(5)
pencolor('black')
for i in range(4):
    penup()
    goto(i*70,0)
    pendown()
    circle(50)

In [ ]:
from turtle import *
#code for the body
bgcolor('pink')
color('black')
fillcolor('black')
penup()
goto(0,0)
begin_fill()
forward(570)
left(90)
forward(80)
left(90)
forward(570)
left(90)
forward(80)
end_fill()
#Code for drawing the roof
pensize(6)
penup()
goto(100,50)
pendown()
setheading(45)
forward(100)
setheading(0)
forward(250)
setheading(-45)
forward(100)
setheading(90)
penup()
goto(300,50)
pendown()
forward(75)
#code for drawing the tyres
penup()
goto(200,-10)
pendown()
color('black')
fillcolor('black')
begin_fill()
circle(20)
end_fill()
penup()
goto(400,-10)
pendown()
color('black')
fillcolor('black')
begin_fill()
circle(20)
end_fill()

## Idiomatic Python
- Transformation of code into beautiful,idiomatic python
- Replaces the traditional index manipulation with python code looping idioms

In [6]:
# Looping over a range of number
for i in [0,1,2,3,4,5]:
    print(i ** 2,end=' ')
print()
#Pythonic approach
for i in range(6):
    print(i**2,end=' ')

0 1 4 9 16 25
0 1 4 9 16 25

In [7]:
#Looping over the collection(list)
li=[1,2,3,4,5]
for i in range(len(li)):
    print(li[i],end=' ')
print()
#Pythonic way
for i in li:
    print(i,end=' ')

1 2 3 4 5
1 2 3 4 5

In [1]:
# Looping from backwards
li=[1,2,3,4,5]
for i in range(len(li)-1,-1,-1):
    print(li[i],end=' ')
print()
#Pythonic approach
for i in reversed(li):
    print(i,end=' ')

5 4 3 2 1
5 4 3 2 1

In [2]:
#Looping over the collection with index
li=[1,2,3,4,5]
for i in range(len(li)):
    print(i,'-->',li[i])
print()
for i,a in enumerate(li):
    print(i,'-->',a)

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5

In [6]:
#Looping over two collections
li=[1,2,3,4,5]
a=[10,20,30,40,50,60,70,80]
n=min(len(li),len(a))
for i in range(n):
    print(li[i],' ',a[i])
print()
#Pythonic approach
for i,a in zip(li,a):
    print(i,' ',a)

1   10
2   20
3   30
4   40
5   50

1   10
2   20
3   30
4   40
5   50

In [7]:
#Looping in a sorted order
#pythonic approach
li=[9,12,4,6,2,0]
for i in sorted(li):   #ascending order
    print(i,end=' ')
print()
for i in sorted(li,reverse=True):  #descending order
    print(i,end=' ')

0 2 4 6 9 12
12 9 6 4 2 0

In [10]:
#Dictionary
d= {'Name':'Anusha','EmailId':'anusha12@gmail.com','Address':'Vizag'}
for k in d:
    print(k,end=' ')
print()

Name EmailId Address

In [12]:
for k in d.keys():
    if k.startswith('A'):
        del d[k]

RuntimeError: dictionary changed size during iteration

In [13]:
print(d)

{'Name': 'Anusha', 'EmailId': 'anusha12@gmail.com'}

In [15]:
for k in d.values():
    print(k,end=' ')

Anusha anusha12@gmail.com

### List Comprehensions

In [5]:
li=[]
for i in range(10):
    a=i**2
    li.append(a)
print(sum(li))
print()
#Pythonic approach
print(sum(i**2 for i in range(10)))

285

285

In [6]:
li=[]
for i in range(10):
    li.append(i**2)
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
com_list=[i**2 for i in range(10)]
com_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Lambda Functions
- Anonymous functions means that a function is without a name
- Any lambda function on Python will be defined with lambda
###### Syntax:  
- lambda arg:expression

In [1]:
def square(n):
    return n*n
square(10)

100

In [2]:
a=lambda x:x*x
print(a(10))

100

### Use of lambda with filter

In [3]:
def filterList(li):
    a=[]
    for i in li:
        if i%2==0:
            a.append(i)
    return a
li=[1,2,3,4,5,6,7,8]
filterList(li)

[2, 4, 6, 8]

In [4]:
#Above program using lambda
li=[1,2,3,4,5,6,7,8]
lam_li=list(filter(lambda x: (x%2==0),li))
print(lam_li)

[2, 4, 6, 8]

### Lambda with map()
- map() function in python takes in a function and list as an argument.

In [9]:
def squarelist(li):
    a=[]
    for i in li:
        a.append(i**2)
    return a
li=[1,2,3,4,5]
squarelist(li)

[1, 4, 9, 16, 25]

In [10]:
li=[1,2,3,4,5]
map_list=list(map(lambda x:x**2,li))
print(map_list)

[1, 4, 9, 16, 25]

### Lambda with reduce()

In [11]:
def sumlist(li):
    s=0
    for i in li:
        s=s+i
    return s
li=[1,2,3,4,5]
sumlist(li)

15

In [12]:
from functools import reduce
li=[1,2,3,4,5]
s=reduce((lambda x,y:x+y),li)
print(s)

15

### Standard Package
#### Pandas, Numpy and Matplotlib
- Used for understanding and processing the data in real-time applications

#### Pandas
##### Use Cases
- Data cleaning
- Data transformation
- Data Analysis
##### Notations
- Series #generates output in the form of a 1D array
- Data Frames #generates output in the form of a mlti dimensional array

In [8]:
import pandas as pd
internal1={'subject1':'35','subject2':'35','subject3':'35'}
internal2={'subject1':'34','subject2':'36','subject3':'38'}
internal1=pd.Series(internal1)
internal2=pd.Series(internal2)
print(internal1)
print(internal2)
print(type(internal1))

subject1    35
subject2    35
subject3    35
dtype: object
subject1    34
subject2    36
subject3    38
dtype: object
<class 'pandas.core.series.Series'>

In [19]:
final= {'Internal1':internal1,'Internal2':internal2}
final= pd.DataFrame(final)
print(final)
print(type(final))

         Internal1 Internal2
subject1        35        34
subject2        35        36
subject3        35        38
<class 'pandas.core.frame.DataFrame'>

In [10]:
final.columns

Index(['Internal1', 'Internal2'], dtype='object')

In [11]:
final.values

array([['35', '34'],
       ['35', '36'],
       ['35', '38']], dtype=object)

In [12]:
final.values[1] # 1 represents the row index

array(['35', '36'], dtype=object)

In [13]:
final.values[2][0]=39 #updating a value in the data frame

In [14]:
final.values

array([['35', '34'],
       ['35', '36'],
       [39, '38']], dtype=object)

In [16]:
for col in final.values:
    print('Internal1- ',col[0],'Internal2 -',col[1])

Internal1-  35 Internal2 - 34
Internal1-  35 Internal2 - 36
Internal1-  39 Internal2 - 38

In [20]:
#loc represents a new specific index
final.loc['subject4']=[32,28] #Insert new records in the data frame
final

         Internal1 Internal2
subject1        35        34
subject2        35        36
subject3        35        38
subject4        32        28

In [21]:
final.values[2]=[29,30]
final

         Internal1 Internal2
subject1        35        34
subject2        35        36
subject3        29        30
subject4        32        28

In [22]:
pwd

'C:\\Users\\Surendra-pc\\Desktop\\problem solving and programming'

In [28]:
filePath='Income.csv'
def readCsvData(filePath):
    return pd.read_csv(filePath)
df=readCsvData(filePath)
print(df)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [30]:
#Extract income of all the states in the year 2013
# Alabama : 41381
# .........
for col in df.values:
    print(col[1],':',col[-1])

Alabama : 41381
Alaska : 61137
Arizona : 50602
Arkansas : 39919
California : 57528

In [31]:
# Average income of California
def avgIncome():
    s=0
    for i in range(2,11):
        s=s+df.values[4][i]
    return s//len(df.values[4][2:])
avgIncome()

55350

In [34]:
# Function which only displays the column names in the list
def printallColumns(df):
    li=[]
    for i in df.columns:
        li.append(i)
    return li
printallColumns(df)

['GEOID',
 'State',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']